*
{
    font-family:"Lucida Sans Unicode", Calibri, Arial, sans-serif;
}
header
{
    background-color:#EEEEEE;
    padding:3px
}
header h1
{
    text-align:center;
    font-size:2em;
}
header h2
{
    text-align:center;
    font-size:1.2em;
}
.navtitle
{
    text-align:center;
}
a, a:visited
{
    text-align:center;
    text-decoration:none;
    color:gray;
    font-style:italic;
}
a:hover, a:focus
{
	text-decoration:underline;
	color:silver:
}
figure
{
	text-align:center;
}
em
{
    text-decoration:italic;
    font-weight:bold;
}